/* HAMBURGERS (ELASTIC ONLY) — TINQIN minimal */
.hamburger{display:inline-block;cursor:pointer;padding:15px 0;background:transparent;border:0;margin:0}
.hamburger:focus{outline:0}
.hamburger-box{width:40px;height:24px;display:inline-block;position:relative}
.hamburger-inner{position:absolute;top:50%;left:0;right:0;margin-top:-2px;display:block;width:40px;height:4px;border-radius:4px;background:#d43930;transition:transform .275s cubic-bezier(.68,-.55,.265,1.55)}
.hamburger-inner::before,.hamburger-inner::after{content:"";position:absolute;left:0;display:block;width:40px;height:4px;border-radius:4px;background:#d43930}
.hamburger-inner::before{top:-10px;transition:opacity .125s .275s}
.hamburger-inner::after{top:10px;transition:transform .275s cubic-bezier(.68,-.55,.265,1.55)}
.hamburger.is-active .hamburger-inner{transform:translate3d(0,10px,0) rotate(135deg)}
.hamburger.is-active .hamburger-inner::before{opacity:0;transition-delay:0s}
.hamburger.is-active .hamburger-inner::after{transform:translate3d(0,-20px,0) rotate(-270deg)}
/* reverse */
.hamburger--elastic-r .hamburger-inner{transition:transform .275s cubic-bezier(.68,-.55,.265,1.55)}
.hamburger--elastic-r .hamburger-inner::before{transition:opacity .125s .275s}
.hamburger--elastic-r .hamburger-inner::after{transition:transform .275s cubic-bezier(.68,-.55,.265,1.55)}
.hamburger--elastic-r.is-active .hamburger-inner{transform:translate3d(0,10px,0) rotate(-135deg)}
.hamburger--elastic-r.is-active .hamburger-inner::before{opacity:0;transition-delay:0s}
.hamburger--elastic-r.is-active .hamburger-inner::after{transform:translate3d(0,-20px,0) rotate(270deg)}
/* active color (optional) */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{background:#6f1d1b}
/* accessibility */
@media (prefers-reduced-motion:reduce){
  .hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{transition:none}
}
